# 1
Create a Python script file named data_types_and_variables.py or data_types_and_variables.ipynb.

Identify the data type of the following values:

In [1]:
type(99.9)

float

In [2]:
type("False")

str

In [3]:
type(False)

bool

In [4]:
type('0')

str

In [5]:
type(0)

int

In [6]:
type(True)

bool

In [7]:
type('True')

str

In [8]:
type([{}])

list

In [9]:
type({'a': []})

dict

# 2 
What data type would best represent the following?

A term or phrase typed into a search box

string

Whether or not a user is logged in

bool

A discount amount to apply to a user's shopping cart

float

Whether or not a coupon code is valid

bool

An email address typed into a registration form


string, list

The price of a product


float, list

The email addresses collected from a registration form


string, dictionary

Information about applicants to Codeup's data science program


dictionary

# 3
For each of the following code blocks:

Read the expression and predict the evaluated results

Execute the expression in a Python REPL.

In [10]:
'1' + 2

TypeError: can only concatenate str (not "int") to str

In [11]:
6 % 4

2

In [12]:
type(6 % 4)

int

In [13]:
type(type(6 % 4))

type

In [14]:
'3 + 4 is ' + 3 + 4

TypeError: can only concatenate str (not "int") to str

In [15]:
0 < 0

False

In [16]:
'False' == False

False

In [17]:
True == 'True'

False

In [18]:
5 >= -5

True

In [19]:
True or "42"

True

In [20]:
6 % 5

1

In [21]:
5 < 4 and 1 == 1

False

In [22]:
'codeup' == 'codeup' and 'codeup' == 'Codeup'

False

In [23]:
4 >= 0 and 1 !== '1'

SyntaxError: invalid syntax (3850088429.py, line 1)

In [24]:
6 % 3 == 0

True

In [25]:
5 % 2 != 0

True

In [26]:
[1] + 2

TypeError: can only concatenate list (not "int") to list

In [27]:
[1] + [2]

[1, 2]

In [31]:
[1] * 2

[1, 1]

In [30]:
[1] * [2]

TypeError: can't multiply sequence by non-int of type 'list'

In [29]:
[] + [] == []

True

In [28]:
{} + {}

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

# 4
Describe the following scenarios. You will need to create and assign variables and use operators.

# 5
You have rented some movies for your kids:

The Little Mermaid for 3 days
Brother Bear for 5 days
Hercules for 1 day
If the daily fee to rent a movie is 3 dollars, how much will you have to pay?

In [32]:
(3+5+1)*3

27

In [41]:
the_little_mermaid = 3 
brother_bear = 5 
hercules = 1 

list_of_days_rented = [the_little_mermaid,brother_bear,hercules]
fee_per_day = 3

sum(list_of_days_rented)*fee_per_day

27

# 6
Suppose you're working as a contractor for 3 companies: Google, Amazon and Facebook.

They pay you the following hourly rates:

Google: 400 dollars
Amazon: 380 dollars
Facebook: 350 dollars
This week you worked: 10 hours for Facebook, 6 hours for Google and 4 hours for Amazon.

How much will you receive in payment for this week?

In [43]:
google_hours = 6
amazon_hours = 4
facebook_hours = 10
google_rate = 400
amazon_rate = 380
facebook_rate = 350

In [52]:
paycheck = (google_hours*google_rate)+(amazon_hours*amazon_rate)+(facebook_hours*facebook_rate)

In [53]:
paycheck

7420

# 7
A student can be enrolled to a class only if the class is not full and the class schedule does not conflict with her current schedule.

In [54]:
is_class_full = True
is_student_available = True
enroll = is_class_full and is_student_available
enroll

True

# 8
 A product offer can be applied only if people buys more than 2 items, and the offer has not expired. Premium members do not need to buy a specific amount of products.

In [55]:
premium_mem = True
more_than_two = False
coupon_not_expired = True
coupon_not_expired and (more_than_two or premium_mem)

True

# 9 
Continue working in the data_types_and_variables.py file. 
Use the following code to follow the instructions below:
username = 'codeup'
password = 'notastrongpassword'
Create a variable that holds a boolean value for each of the following conditions:

In [4]:
username = 'codeup'
password = 'notastrongpassword'

The password must be at least 5 characters

In [57]:
check_1 = len(password) > 4

In [58]:
check_1

True

The username must be no more than 20 characters

In [59]:
check_2 = len(username) < 20
check_2

True

The password must not be the same as the username

In [60]:
check_3 = (password) != (username)
check_3

True

Bonus Neither the username or password can start or end with whitespace

In [5]:
check_4 = username.strip() == username and password.strip() == password
check_4

True