#1. Define a function named is_two. It should accept one input and return True if the passed input is either the number or the string 2, False otherwise.

In [1]:
def is_two(n):
    return n == 2 or n == '2'

In [2]:
is_two(2)

True

#2.Define a function named is_vowel. It should return True if the passed string is a vowel, False otherwise.

In [3]:
def is_vowel(char):
    if type(char) == str: 
        return char.lower() in list('aeiou')
    else:
        return False

In [4]:
is_vowel('a')

True

#3.Define a function named is_consonant. It should return True if the passed string is a consonant, False otherwise. Use your is_vowel function to accomplish this.

In [8]:
def is_consonant(string):
    if type(string) == str:
        return not is_vowel(string)
    else:
        return False

In [9]:
is_consonant('b')

True

#4.Define a function that accepts a string that is a word. The function should capitalize the first letter of the word if the word starts with a consonant.

In [10]:
def capital_cons_start(string):
    if is_consonsant(string[0]):
        string= string.capitalize()
    return string

In [11]:
capital_cons_start('hello')

'Hello'

#5.Define a function named calculate_tip. It should accept a tip percentage (a number between 0 and 1) and the bill total, and return the amount to tip.

In [12]:
def calculate_tip (bill,tip):
    return(float(bill * tip))

In [13]:
calculate_tip(100,.15)

15.0

#6.Define a function named apply_discount. It should accept a original price, and a discount percentage, and return the price after the discount is applied.

In [166]:
def apply_discount(price,discount):
    return(float(price-(price*discount)))

In [167]:
apply_discount(200,.15)

170.0

#7.Define a function named handle_commas. It should accept a string that is a number that contains commas in it as input, and return a number as output.

In [14]:
def handle_commas(string):
    return(int(string.replace(',',"")))

In [15]:
handle_commas('19,99')

1999

#8.Define a function named get_letter_grade. It should accept a number and return the letter grade associated with that number (A-F).

In [16]:
def get_letter_grade(grade):
    if grade >= 90:
        letter_grade = 'A'
    elif grade >= 80:
        letter_grade = 'B'
    elif grade >= 70:
        letter_grade = 'C'
    else:
        letter_grade = 'F'
    return letter_grade

In [17]:
get_letter_grade(89)

'B'

#9.Define a function named remove_vowels that accepts a string and returns a string with all the vowels removed.

In [19]:
def remove_vowels(string):
    new_string = ''
    for char in string:
        if not is_vowel(char):
            new_string += char
    return new_string

In [20]:
remove_vowels('eEllo')

'll'

#10.Define a function named normalize_name. It should accept a string and return a valid python identifier, that is:
    -anything that is not a valid python identifier should be removed
    -leading and trailing whitespace should be removed
    -everything should be lowercase
    -spaces should be replaced with underscores
    -for example:
    -Name will become name
    -First Name will become first_name
    -% Completed will become completed

In [21]:
def normalize_name(string):
    new_string =''
    for char in string:
        if char.isdigit() or char.isalpha() or char == ' ':
            new_string += char
    new_string = new_string.strip().lower().replace(' ','_')
    return new_string

In [23]:
normalize_name('Jiuh&&t893')

'jiuht893'

#11.Write a function named cumulative_sum that accepts a list of numbers and returns a list that is the cumulative sum of the numbers in the list.
cumulative_sum([1, 1, 1]) returns [1, 2, 3]
cumulative_sum([1, 2, 3, 4]) returns [1, 3, 6, 10]

In [8]:
ls = [1,1,1]

In [10]:
total = 0 
some_sums = []

for numb in ls:
#     print(numb)
    total += numb
    print(total)
    some_sums.append(total)
    
some_sums

1
2
3

[1, 2, 3]

In [11]:
def cumulative_sum(ls):
    total = 0 
    some_sums = []

    for numb in ls:
    #     print(numb)
        total += numb
#         print(total)
        some_sums.append(total)

    return some_sums

In [12]:
cumulative_sum([1, 1, 1])

[1, 2, 3]

In [13]:
cumulative_sum([1, 2, 3, 4])

[1, 3, 6, 10]