# Exercises Part I
Make a file named pandas_series.py or pandas_series.ipynb for the following exercises.

Use pandas to create a Series named fruits from the following list:

["kiwi", "mango", "strawberry", "pineapple", "gala apple", "honeycrisp apple", "tomato", "watermelon", "honeydew", "kiwi", "kiwi", "kiwi", "mango", "blueberry", "blackberry", "gooseberry", "papaya"]

Use Series attributes and methods to explore your fruits Series.

In [1]:
import pandas as pd
import numpy as np
import pydataset as pset

In [2]:
#my_series = pd.Series(my_list)
fruits_list=["kiwi", "mango", "strawberry", "pineapple", "gala apple", "honeycrisp apple", "tomato", "watermelon", "honeydew", "kiwi", "kiwi", "kiwi", "mango", "blueberry", "blackberry", "gooseberry", "papaya"]

In [3]:
fruits_series = pd.Series(fruits_list)

In [4]:
fruits_series

0                 kiwi
1                mango
2           strawberry
3            pineapple
4           gala apple
5     honeycrisp apple
6               tomato
7           watermelon
8             honeydew
9                 kiwi
10                kiwi
11                kiwi
12               mango
13           blueberry
14          blackberry
15          gooseberry
16              papaya
dtype: object

 1. Determine the number of elements in fruits.

In [5]:
fruits_series.count()

17

In [24]:
fruits_series.shape

(17,)

2. Output only the index from fruits.

In [6]:
fruits_series.index

RangeIndex(start=0, stop=17, step=1)

In [25]:
list(fruits_series.index)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]

3. Output only the values from fruits.

In [7]:
fruits_series.values

array(['kiwi', 'mango', 'strawberry', 'pineapple', 'gala apple',
       'honeycrisp apple', 'tomato', 'watermelon', 'honeydew', 'kiwi',
       'kiwi', 'kiwi', 'mango', 'blueberry', 'blackberry', 'gooseberry',
       'papaya'], dtype=object)

4. Confirm the data type of the values in fruits.

In [8]:
fruits_series.dtype

dtype('O')

In [28]:
fruits_series.describe()

count       17
unique      13
top       kiwi
freq         4
dtype: object

5. Output only the first five values from fruits. Output the last three values. Output two random values from fruits.

In [9]:
fruits_series.head()

0          kiwi
1         mango
2    strawberry
3     pineapple
4    gala apple
dtype: object

In [10]:
fruits_series.tail(3)

14    blackberry
15    gooseberry
16        papaya
dtype: object

In [11]:
fruits_series.sample(2)

8    honeydew
0        kiwi
dtype: object

6.Run the .describe() on fruits to see what information it returns when called on a Series with string values.

In [12]:
fruits_series.describe()

count       17
unique      13
top       kiwi
freq         4
dtype: object

7. Run the code necessary to produce only the unique string values from fruits.

In [29]:
set(fruits_series)

{'blackberry',
 'blueberry',
 'gala apple',
 'gooseberry',
 'honeycrisp apple',
 'honeydew',
 'kiwi',
 'mango',
 'papaya',
 'pineapple',
 'strawberry',
 'tomato',
 'watermelon'}

In [18]:
fruits_series.unique()

array(['kiwi', 'mango', 'strawberry', 'pineapple', 'gala apple',
       'honeycrisp apple', 'tomato', 'watermelon', 'honeydew',
       'blueberry', 'blackberry', 'gooseberry', 'papaya'], dtype=object)

Determine how many times each unique string value occurs in fruits.

In [19]:
fruits_series.value_counts()

kiwi                4
mango               2
strawberry          1
pineapple           1
gala apple          1
honeycrisp apple    1
tomato              1
watermelon          1
honeydew            1
blueberry           1
blackberry          1
gooseberry          1
papaya              1
dtype: int64

In [31]:
# count of how many unique
fruits_series.nunique()

13

Determine the string value that occurs most frequently in fruits.

In [21]:


fruits_series.value_counts().nlargest(1)

kiwi    4
dtype: int64

Determine the string value that occurs least frequently in fruits.

In [20]:
fruits_series.value_counts().nsmallest(keep='all')

strawberry          1
pineapple           1
gala apple          1
honeycrisp apple    1
tomato              1
watermelon          1
honeydew            1
blueberry           1
blackberry          1
gooseberry          1
papaya              1
dtype: int64

8. Determine how many times each unique string value occurs in fruits.

In [32]:
fruits_series.nunique()

13